// Imports SCSS theme
// Vendors variables override and path
$fa-font-path: "/webfonts" !default;
$is-rtl: true !default;
$enable-negative-margins: true !default;
$enable-shadows: true !default;
$enable-gradients: true !default;

@import "node_modules/bootswatch/dist/darkly/variables";
// Import variables
@import "./bootstrap-extra-utilities/variables/variables";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
